.recommendedvideo {
  flex: 1;
  background: #151515;
  padding: 40px 20px;
  padding-bottom: 0;
  margin-left: 180px;
  height: 100%;
}
.recommendedvideo > h2 {
  color: #f2f2f2;
  margin-left: 50px;
  margin-bottom: 20px;
}
.recommendedvideo__videos {
  display: flex;
  flex-wrap: wrap;
  margin-left: 60px;
}
